<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busy Canvas Sign-up </title>
    <link rel="icon" href="../assets/img/logo/1.jpg">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="../assets/js/signup-verify.js"></script>
</head>
<body>

    <div class="login">        
        
        <div class="login-screen">
            <div class="pic">
                <img class="image" src="../assets/img/logo/1.jpg" alt="loading...">
            </div>

            <div class="app-title">
                <h1 style=color:white;>SIGN-UP</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Fullname" id="full-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Username" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Password" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>

                <div class="control-group">
                    <input type="email" class="login-field" value="" placeholder="Email-Id" id="Email" required>
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <a onclick="return verify()" class="btn btn-primary btn-large btn-block" href="index.html">Sign-up</a>
                <a  href="login.html">Already have an account !</a>
            </div>
    
    </div>
</body>
</html>